<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CrudNetCore</title>
    <link rel="stylesheet" href="~/css/site.css" /> 
</head>

<body>
    <header>
        <section class="header">
            <div class="logo">
                <img class="loguito" src="./Imagen/EmbeddedImage 1.png" alt="logo">
            </div>

            <div class="header-hija">
                <button class="boton-buscador">
                    <img class="buscador" src="./Imagen/eva_search-fill.png" alt="buscador">
                </button>
                <button class="boton-perfil">
                    <img class="perfil" src="./Imagen/Subtract.png" alt="perfil">
                </button>
            </div>
        </section>
    </header>

    <aside>
        <div class="elfondo">
            <img class="fondo" src="./Imagen/Rectangle 23.png" alt="fondo"></img>
        </div>
    </aside>

    <main class="container">
        <div class="elboton">
            <button class="boton" type="submit">+ Agregar Menu</button>
        </div>
    </main>    @RenderBody()

</body>    
</html>
