@{
    ViewData["Title"] = "Pagina de inicio";
}
<head>
    @*<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    
</body>