@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Hola que hace?</h1>
    <p>No entrar si eres menor de 18 años <a href="https://i.pinimg.com/550x/e4/00/79/e400795ffcf50a339b22e44b27767d91.jpg">Xvideos.com</a>.</p>
</div>
