#DropImagen {
    margin-inline: 4rem;
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    background-color: #C4C4C4;
}
#DropVideo {
    margin-inline: 4rem;
    background-image: url(../img/video.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: #C4C4C4;
}
.boton-perfil {
    background-color: transparent;
    width:19.64px;
    border: none;
    float:right;
}
.lblTitulo{
    font-size: 20px;
    float:left
}
.inputs {
    font-size:20px;
    border: 1px dashed #9B9B9B;
    box-sizing: border-box;
}

.perfil img{
    width: 19.64px;
}