#DropImagen {
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    background-color: #C4C4C4;
}

.boton-perfil {
    background-color: transparent;
    border: none;
    float:right;
}

.Perfil{
    width:20px;
}